@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Management System</h1>

    <p>ASP.NET Core web app with user data protected by authorization</p>
    <img src="https://www.admitek.com/wp-content/uploads/2017/04/User.png">
</div>
